@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply min-h-screen; /* ensure full height */
    body {
  background: linear-gradient(to bottom, #f3e8ff, #e9d5ff, #f3e8ff); /* lavender gradient */
    }
  }
}